.programs {
  padding-top: 120px;
  padding-bottom: 4rem;
}
        .section-header h1 {
            width: 30%;
            margin: 0 auto 1rem auto;
            padding: 10px 10px;
            background-color: #f0f0f0;
            border-radius: 30px;
            font-size: 2.5rem;
            font-weight: 800;
             color:#1F2937;
            margin-bottom: 1rem;
        }
